ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: blueviolet;
}
li{
    float: left;
}
li a, .dropbtn{
    display: inline-block;
    color:antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: brown;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(rgb(187, 101, 183), rgb(103, 202, 103), rgb(114, 114, 202), alpha);
    z-index: 1;
}
.dropdown-content a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: cornflowerblue;}

.dropdown:hover .dropdown-content{
    display: block;
}